.footer {
    &-bottom {
        text-align: center;
        padding: 100px 0 20px;
    }
    padding: 100px 80px 0;
    background-color: #212121;
    &-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }
    &-heading {
        font-size: 18px;
        line-height: 1.33333em;
        font-weight: 600;
        color: #fff;
        padding-bottom: 20px;
    }
    &-desc {
        font-family: Poppins;
        font-size: 17px;
        line-height: 1.64em;
        font-weight: 400;
        color: #a9a9a9;
        margin: 20px 0 17px 0;
    }
    &-contact {
        color: #fff;
        line-height: 30px;
        li {
            list-style-type: none;
            a {
                color: #fff;
                transition: all 0.3s ease;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        i {
            margin-right: 10px;
        }
    }

    &-links {
        
    }
    &-item {
        font-size: 15px;
        list-style-type: none;
        font-weight: 400;
        a {
            line-height: 30px;
        }
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
            padding-bottom: 20px;
        }
        a {
            transition: all 0.3s ease;
            &:hover {
                color: $primary-color;
            }
        }
    }
    &-inpput-wrapper-user {
        display: flex;
        padding: 20px 0 5px;
        button {
            color: #fff;
            background-color: #595959;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(50px - 12px * 2);
            border: none;
            outline: none;
            padding: 12px 15px 12px 20px;
        }
        input {
            color: #fff;
            width: 100%;
            background-color: #595959;
            outline: none;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(50px - 12px * 2);
            border: none;
            &::placeholder {
                color: #fff;
            }
        }
    }
    &-inpput-wrapper-email {
        display: flex;
        padding: 0 0 5px;
        button {
            color: #fff;
            background-color: #595959;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(50px - 12px * 2);
            border: none;
            outline: none;
            padding: 12px 15px 12px 20px;
        }
        input {
            color: #fff;
            width: 100%;
            background-color: #595959;
            outline: none;
            font-size: 14px;
            font-weight: 400;
            line-height: calc(50px - 12px * 2);
            border: none;
            &::placeholder {
                color: #fff;
            }
        }
    }
}

.btn-submit {
    font-size: 13px;
    line-height: 1.692307692307692em;
    font-weight: 600;
    letter-spacing: .1em;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 0;
    color: #fff;
    background-color: $primary-color;
    border: none;
    outline: none;
    transition: all 0.5s ease;
    &:hover {
        color: black;
        background-color: #fff;
    }
}

.light {
    color: #fff;
}

.gray {
    color: #a9a9a9;
}