.wrapper {
    max-width: 1349px;
    margin: 0 auto;
}

.container {
    max-width: 1100px;
    margin: 0 auto;  
    text-align: center;  
}

body {
    line-height: 1.714285714285714em;
    font-family: $font;
    font-size: 14px;
    $color: $text-color;
    font-weight: 400;
    background: #fff !important;
}